body {
    color: #757575;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    background: #fff;
    width: 415px;
    margin: 5px auto;
    border-radius: 2px;
}

header {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    display: inline-block;
    color: #5e454b;
    margin: 0px auto;
    letter-spacing: 3px;
}

.stats-box {
    display: block;
    padding: 5px;
}

.stats-message {
    display: block;
    height: 38px;
    text-align: center;
    font-size: 2em;
    color: red;
}

.stats-data {
    margin: 0 auto;
}

.stats-steps {
    float: left;
    padding: 0px 10px;
    font-size: 1.5em;
    color: #5e454b;
}

.stats-time {
    float: right;
    font-size: 1.5em;
    color: #5e454b;
    clear: right
}

.puzzle-cells {
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 415px;
    width: 415px;
    align-items: center;
}

.cell {
    background-color: mediumseagreen;
    border-radius: 3px;
	width: 100px;
    height: 100px;
    text-align: center;
}

.empty-cell {
    background-color: #fff;
	width: 100px;
    height: 100px;
    text-align: center;
}

.cell-inactive {
    background-color: #b3b3b3;
    border-radius: 3px;
	width: 100px;
    height: 100px;
}

.cell-on-pause {
    background-color: mediumseagreen;
    border-radius: 3px;
	width: 100px;
    height: 100px;
}

.cell-win {
    background-color: violet;
    border-radius: 3px;
	width: 100px;
    height: 100px;
    text-align: center;
}

.cell-number {
    color: #fff;
    margin: 31px auto;
    font-size: 30px;
    width: 38px;
    text-align: center;
}

.manage-box {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.manage-box-game {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

button {
    background-color: #5e454b;
    color: #fff;
    height: 50px;
    width: 165px;
    padding: 0;
    display: block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
